body {
  background-color: #f4f5f6;
}

#wrapper {
  margin: 0 auto;
  max-width: 850px;
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}

/* 画像の隙間対策 */
#wrapper img {
  vertical-align: bottom;
  /* max-width: 100%; */
  width: 100%;
  height: auto;
}

#wrapper video {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/*上から下に出る*/
.fade-up {
  opacity: 0;
}

.fade-up2 {
  opacity: 0;
}

.fadein-up-active {
  -webkit-animation-duration: 1.2s;
  animation-duration: 1.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeUPAnime;
  /*アニメーション後、要素が表示されたままにする*/
}

@-webkit-keyframes fadeUPAnime {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUPAnime {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}


.fadein-up-active2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  animation-name: fadeUPAnime;
  /*アニメーション後、要素が表示されたままにする*/
}

@-webkit-keyframes fadeUPAnime {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeUPAnime {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.img1,
.img2,
.img3,
.img4,
.img5 {
  position: absolute;
}

.btn {
  position: absolute;
}

.txt-w {
  color: aliceblue;
}

.txt-blue {
  color: #284c9f;
}

.txt-yellow {
  color: #effcc3;
}

.bg-blue {
  background-color: #284c9f;
}

/*  ==============================
fv
=================================*/
.fv {
  position: relative;
}

.fv .txt-01,
.fv .txt-02,
.fv .btn {
  position: absolute;
}

.fv .txt-01 {
  width: 66%;
  left: 3%;
  bottom: 50.5%;
}

.fv .txt-02 {
  width: 67%;
  left: -1%;
  bottom: 36.5%;
}

.fv .btn {
  width: 90%;
  left: 5%;
  bottom: 2%;
}


/*  ==============================
登校実績
=================================*/
.results {
  position: relative;
}

.results .img1 {
  left: 0;
  bottom: 52%;
}

.results .img2 {
  left: 0;
  bottom: 27.3%;
}

.results .img3 {
  left: 0;
  bottom: 2%;
}

.results .btn {
  position: absolute;
  width: 98%;
  left: 1%;
  bottom: 3%;
}

/*  ==============================
problem-reason　
無限ループスライダー
=================================*/
/*---------- 共通 -----------*/
/* スライドの動き等速 */
.swiper-wrapper {
  transition-timing-function: linear;
}

/* 画像のサイズ調整 */
.swiper-slide img {
  height: auto;
  width: 100%;
  padding: 0 2.5%;
}

/*---------- 共通END -----------*/

.problem-reason {
  position: relative;
}

.slider-box {
  position: absolute;
}

.problem-reason-slider {
  bottom: 13%;
  left: 2.5%;
  width: 95%;
}


/* 共通設定 */
.swiper-button-next,
.swiper-button-prev {
  width: 9vw !important;
  height: 15vw !important;
  background-color: rgba(0, 0, 0, 0.5);
  /* 半透明黒背景 */
  border-radius: 10%;
  /* 丸くする */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 矢印（三角形）を疑似要素で作る */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

/* 右矢印 */
.swiper-button-next::after {
  border-width: 3.5vw 0 3.5vw 4vw;
  /* 上 下 左 右 */
  border-color: transparent transparent transparent white;
}

/* 左矢印 */
.swiper-button-prev::after {
  border-width: 3.5vw 4vw 3.5vw 0;
  border-color: transparent white transparent transparent;
}

/* 位置調整（お好みで変更） */
.swiper-button-next {
  right: -.8em !important;
}

.swiper-button-prev {
  left: -.8em !important;
}

@media screen and (min-width: 850px) {

  .swiper-button-next,
  .swiper-button-prev {
    width: 3.3em !important;
    height: 5em !important;
  }

  /* 右矢印 */
  .swiper-button-next::after {
    border-width: .5em 0 .5em .6em;
    /* 上 下 左 右 */
  }

  /* 左矢印 */
  .swiper-button-prev::after {
    border-width: .5em .6em .5em 0;
  }
}


/*  ==============================
cta-box
CTAボタン
=================================*/
.cta-box {
  position: relative;
}

.cta-btn {
  position: absolute;
  width: 95.6%;
  left: 2.5%;
  bottom: 2.5em
}

.cta img {
  width: 95.6%;
}


/*  ==============================
worries
お悩みコンテンツ
=================================*/
.worries-inner {
  position: relative;
}

.worries-txt {
  position: absolute;
  width: 77.5%;
  left: 11.25%;
  bottom: 5%;
}


/*  ==============================
proposal
提案
=================================*/

.proposal {
  position: relative;
}

.proposal .img1 {
  width: 84.5%;
  left: 7.7%;
  bottom: 85.5%;
}

.proposal .img2 {
  width: 77.2%;
  left: 11.3%;
  bottom: 28%;
}

/*  ==============================
point
ポイント
=================================*/
/*------- POINT1 ------*/
.point1 {
  position: relative;
}

.point1 .img1 {
  left: 0;
  bottom: 83.6%;
}

.point1 .img2 {
  left: 0;
  bottom: 65%;
}


.point1 .img3 {
  left: 0;
  bottom: 37.9%;
}


.point1 .img4 {
  left: 0;
  bottom: 19.1%;
}


.point1 .img5 {
  left: 0;
  bottom: 1%;
}

/*------- POINT2 ------*/

.point2-video {
  position: relative;
}

.point2-video video {
  position: absolute;
  width: 90% !important;
  left: 5%;
  bottom: 5%;
}


.teachers {
  position: relative;
}

.teachers-slider {
  width: 88%;
  left: 6%;
  bottom: 5.5%;
}

/* 位置調整（お好みで変更） */
.teachers-slider .swiper-button-next {
  right: -1.3em !important;
}

.teachers-slider .swiper-button-prev {
  left: -1.3em !important;
}


.point3,
.education {
  background-image: url(../media/point3-bg.webp);
  background-size: 100%;
  background-repeat: repeat-y;
}

.point3 .wrap .img {
  padding-top: 6vw;
}

@media screen and (min-width: 850px) {
  .point3 .wrap .img {
    padding-top: 2em;
  }
}





/*------ より詳しくはこちらボタン　共通---------*/
.detail-btn {
  position: relative;
}

@media screen and (min-width: 850px) {
  /* .detail-btn_box {
    font-size: 20px;
  } */

  .triangle-button::after {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 9px 0 9px 9px;
    border-color: transparent transparent transparent yellow;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    /* top: 50%;
    right: 20px; */
    transform: translateY(-50%);
  }

  .triangle-button:active {
    top: 4px;
    box-shadow: 0 0 0 #82a3c6;
  }

  .btn_animation .btn {
    display: block;
    position: relative;
    width: 250px;
    height: 50px;
    line-height: 5rem;
    border-radius: 5px;
    text-decoration: none;
    background-color: #4b93c2;
    border: solid 1px #ffffff;
    /*線*/
    color: #ffffff;
    text-align: center;
    transition: .5s;
  }

  .btn_animation .btn:before,
  .btn_animation .btn:after {
    content: "";
    position: absolute;
    z-index: -10;
    width: 250px;
    height: 50px;
    top: 0;
    left: 0;
    border-radius: 5px;
    background: #c3ecfc;
    transform: translate3d(0, 0, 0);
  }

  .btn_animation .btn:before {
    animation: anime 1.5s ease-out infinite;
  }

  .btn_animation .btn:after {
    animation: anime 1.5s ease-out 2s infinite;
  }

  @keyframes anime {
    0% {
      transform: scale(1);
      opacity: .2
    }

    90% {
      opacity: .1
    }

    to {
      transform: scale(1.2, 1.4);
      opacity: 0
    }
  }
}

@media screen and (max-width: 478px) {
  .triangle-button::after {
    content: '';
    display: inline-block;
    border-style: solid;
    border-width: 7px 0 7px 7px;
    border-color: transparent transparent transparent yellow;
    display: inline-block;
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
  }

  .triangle-button:active {
    top: 4px;
    box-shadow: 0 0 0 #c3ecfc;
  }


  .btn_animation .btn {
    display: block;
    position: relative;
    width: 250px;
    height: 25px;
    line-height: 2.5rem;
    border-radius: 2px;
    text-decoration: none;
    background-color: #4b93c2;
    border: solid 1px #ffffff;
    /*線*/
    color: #ffffff;
    text-align: center;
    transition: .5s;
  }

  .btn_animation .btn:before,
  .btn_animation .btn:after {
    content: "";
    position: absolute;
    z-index: -10;
    width: 250px;
    height: 25px;
    top: 0;
    left: 0;
    border-radius: 2px;
    background: #c3ecfc;
    transform: translate3d(0, 0, 0);
  }

  .btn_animation .btn:before {
    animation: anime 1.5s ease-out infinite;
  }

  .btn_animation .btn:after {
    animation: anime 1.5s ease-out 2s infinite;
  }

  @keyframes anime {
    0% {
      transform: scale(1);
      opacity: .2
    }

    90% {
      opacity: .1
    }

    to {
      transform: scale(1.2, 1.4);
      opacity: 0
    }
  }
}

/* -----  詳しく内容を隠す　------*/
#point3-detail,
#education-detail {
  display: none;
}



/*  ==============================
access
開講校舎のご紹介
=================================*/
.access {
  background-color: #cbe9f9;
  padding-bottom: 3rem;
  font-family: Arial, Helvetica, sans-serif;
}

.access-title {
  text-align: center;
  width: 59%;
  margin: 0 auto;
  padding: 16vw 0 7vw;
}

.access-box-inner {
  width: 95%;
  left: 2.5%;
  position: relative;
  margin-bottom: 2rem;
  border-radius: 1rem;
  background-color: aliceblue;
  padding: 2vw 5vw 5vw;
  font-size: 3vw;
}

.access-box-inner .title {
  text-align: center;
  color: #284c9f;
  font-size: 5.5vw;
  font-weight: 800;
  padding: .5em;
}

.access-box-inner .sb-title {
  padding-bottom: 1.5vw;
}

.access-box-inner .sb-title span {
  background-color: #284c9f;
  color: aliceblue;
  padding: 1vw 2vw;
}

.access-box-inner .txt {
  padding-bottom: 2vw;
}

.access-box-inner span {
  padding: 8px 8px;
}

.map {
  width: 100%;
  overflow: hidden;
  /* filter: grayscale(1);  */
}

.map iframe {
  width: 220%;
  height: 45vw;
  margin-top: 0vw;
  margin-left: -30vw;
  pointer-events: none;
}



@media screen and (min-width: 850px) {

  .access-title {
    padding: 140px 0 60px;
  }

  .access-box-inner {
    padding: 10px 50px 50px;
    font-size: 28px;
  }

  .access-box-inner .title {
    font-size: 40px;
    padding: 40px 0 20px;
  }

  .access-box-inner .sb-title {
    padding-bottom: 10px;
  }

  .access-box-inner .sb-title span {
    background-color: #284c9f;
    color: aliceblue;
    padding: 10px 20px;
  }

  .access-box-inner .txt {
    padding-bottom: 20px;
  }

  .map iframe {
    width: 200%;
    height: 350px;
    /* margin-top: 40px; */
    margin-left: -350px;
  }

}

.access-box-inner .btn {
  position: absolute;
  width: 44%;
  bottom: 5%;
  left: 54%;
}



/*---- 詳しくはこちらボタン　-----*/
.access-btn {
  width: 60%;
  margin-left: 19.6%;
  margin-bottom: 5%;
  z-index: 99;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
  border-radius: 50%;
}

details {
  padding-bottom: 10px;
}

.accordion-txt {
  margin-bottom: 20px;
}

.accordion-box a img {
  width: 80%;
  margin-left: 9%;
  margin-bottom: 5%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, .5);
  border-radius: 11.155px;
}

.apply-box {
  margin: 20px 0;
}

.online {
  position: relative;
}

.online .btn {
  position: absolute;
  bottom: 10%;
  width: 70%;
  left: 15%;
}

/*====================================================================
.faq-box .accordion_one
====================================================================*/
.faq {
  background-color: #cbe9f9;
  background-size: 100%;
  background-repeat: repeat;
  width: 100%;
  padding-bottom: 35px;
}

.faq-box {
  background-color: #fff;
  border-radius: 10px;
  width: 95%;
  margin: 0 2.5%;
  padding-top: 1rem;
  padding-bottom: 35px;
}

/*=========.accordion_one =========*/

.accordion_one {
  background-color: #f3f3f3;
  margin: 0 0;
}

.faq-box .accordion_one .accordion_header {
  color: #284c9f;
  font-size: 30px;
  font-weight: 800;
  position: relative;
  z-index: +1;
  cursor: pointer;
  transition-duration: 0.2s;
  padding-bottom: 0;
}




.faq-box .accordion_one .accordion_header:hover {
  opacity: .8;
}

.faq-box .accordion_one .accordion_header .i_box {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  right: 2.5%;
  width: 30px;
  height: 30px;
  /* border: 1px solid #284c9f; */
  margin-top: -20px;
  box-sizing: border-box;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
}

.faq-box .accordion_one .accordion_header.stay .i_box {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faq-box .accordion_one .accordion_header .i_box .one_i {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform-origin: center center;
  transition-duration: 0.2s;
  position: relative;
}

.faq-box .accordion_one .accordion_header.stay .i_box .one_i {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faq-box .accordion_one .accordion_header.stay.open .i_box .one_i {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.faq-box .accordion_one .accordion_header.open .i_box {
  -webkit-transform: rotate(-360deg);
  transform: rotate(-360deg);
}

.faq-box .accordion_one .accordion_header.stay.open .i_box {
  -webkit-transform: rotate(315eg);
  transform: rotate(315deg);
}

.faq-box .accordion_one .accordion_header .i_box .one_i:before,
.faq-box .accordion_one .accordion_header .i_box .one_i:after {
  display: flex;
  content: '';
  background-color: #284c9f;
  border-radius: 2px;
  width: 30px;
  height: 8px;
  position: absolute;
  top: 11px;
  left: 0;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  transform-origin: center center;
}

.faq-box .accordion_one .accordion_header .i_box .one_i:before {
  width: 8px;
  height: 30px;
  top: 0;
  left: 11px;
}

.faq-box .accordion_one .accordion_header.stay .i_box .one_i:before {
  content: none;
}

.faq-box .accordion_one .accordion_header.open .i_box .one_i:before {
  content: none;
}

.faq-box .accordion_one .accordion_header.stay.open .i_box .one_i:before {
  content: "";
}

.faq-box .accordion_one .accordion_header.open .i_box .one_i:after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.faq-box .accordion_one .accordion_header.stay.open .i_box .one_i:after {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

.faq-box .accordion_one .accordion_inner {
  display: none;
  top: 0;
  box-sizing: border-box;
}

.faq-box .accordion_one .accordion_inner.stay {
  display: block;
}


.faq-box .accordion_one .accordion_inner p.txt_a_ac {
  margin: 0;
}






@media screen and (max-width: 850px) {
  .faq-box .accordion_one .accordion_header .i_box .one_i {
    width: 20px;
    height: 20px;
  }

  .faq-box .accordion_one .accordion_header .i_box .one_i:before,
  .faq-box .accordion_one .accordion_header .i_box .one_i:after {

    border-radius: 2px;
    width: 20px;
    height: 4px;
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transform-origin: center center;
  }

  .faq-box .accordion_one .accordion_header .i_box .one_i:before {
    width: 4px;
    height: 20px;
    top: 0;
    left: 8px;
  }
}


/*=========.FAQ END=========*/


/*  ==============================
voices
=================================*/
.voice {
  background-color: #e2f1fc;
}

.student-voice {
  position: relative;
  background-image: url(../media/student-interview-bg.webp);
  background-size: 100%;
  background-repeat: repeat-y;
  padding-bottom: 20px;
}

.parent-voice {
  position: relative;
  background-image: url(../media/parent-interview-bg.webp);
  background-size: 100%;
  background-repeat: repeat-y;
  padding-bottom: 20px;
}

.voice-box {
  width: 90%;
  margin: 0 5%;
}

.student-voice .voice-txt {
  margin: 5% auto;
  font-size: 3.7vw;
  color: #273146;
}

.parent-voice .voice-txt {
  margin: 5% auto;
  font-size: 3.7vw;
  color: #fff;
}

.voice-txt span {
  font-weight: 900;
}

.voice-txt p {
  padding-bottom: 1em;
  line-height: 1.5;
}

.read-more-1 {
  position: relative;
}

.read-more-1 .voice-txt {
  position: relative;
  max-height: 80vw;
  /* 開く前に見せたい高さを指定 */
  margin-bottom: 10vw;
  overflow: hidden;
  transition: max-height 1s;
}

.read-more-1:has(:checked) .voice-txt {
  max-height: 100vh;
}

.read-more-1 .voice-txt::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg,
      hsla(205, 80%, 95%, 0) 0%,
      hsla(205, 80%, 95%, 0.9) 50%,
      hsla(205, 80%, 95%, 1) 100%);
  content: '';
}


.read-more-1:has(:checked) .voice-txt::after {
  content: none;
}

.read-more-1 label {
  display: flex;
  align-items: center;
  gap: 0 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 5vw;
  transform: translateX(-50%);
  padding: .4em 20px;
  border-radius: 100px;
  background-color: #005493;
  color: #fff;
  font-size: 5vw;
}

.read-more-1 label:hover {
  border: 1px solid #005493;
  background-color: #fff;
  color: #005493;
  cursor: pointer;
}

.read-more-1:has(:checked) label {
  display: none;
}

.read-more-1 label::after {
  display: inline-block;
  width: 5vw;
  height: 3vw;
  background-color: #fff;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
}

.read-more-1 label:hover::after {
  background-color: #005493;
}

.read-more-1 input {
  display: none;
}

@media screen and (min-width: 850px) {
  .read-more-1 label::after {
    display: inline-block;
    width: 22px;
    height: 18px;
    background-color: #fff;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
  }


  .student-voice .voice-txt,
  .parent-voice .voice-txt {
    font-size: 30px;
  }

  .read-more-1 .voice-txt::after {
    height: 280px;
  }

  .read-more-1 .voice-txt {
    position: relative;
    max-height: 600px;
    /* 開く前に見せたい高さを指定 */
    margin-bottom: 20px;
  }

  .read-more-1 label {
    margin-bottom: 70px;
    font-size: 30px !important;
    padding: .4em 3em;
  }
}


.read-more-2 {
  position: relative;
}

.read-more-2 .voice-txt {
  position: relative;
  max-height: 80vw;
  /* 開く前に見せたい高さを指定 */
  margin-bottom: 10vw;
  overflow: hidden;
  transition: max-height 1s;
}

.read-more-2:has(:checked) .voice-txt {
  max-height: 100vh;
}

.read-more-2 .voice-txt::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(180deg,
      hsla(216, 37%, 39%, 0) 0%,
      hsla(216, 37%, 39%, 0.9) 50%,
      hsla(216, 37%, 39%, 1) 100%);
  content: '';
}

.read-more-2:has(:checked) .voice-txt::after {
  content: none;
}

.read-more-2 label {
  display: flex;
  align-items: center;
  gap: 0 4px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-bottom: 5vw;
  transform: translateX(-50%);
  padding: .4em 20px;
  border-radius: 100px;
  background-color: #e4f9fd;
  color: #005493;
  font-size: 5vw;
}

.read-more-2 label:hover {
  border: 1px solid #e4f9fd;
  background-color: #005493;
  color: #e4f9fd;
  cursor: pointer;
}

.read-more-2:has(:checked) label {
  display: none;
}

.read-more-2 label::after {
  display: inline-block;
  width: 5vw;
  height: 3vw;
  background-color: #005493;
  clip-path: polygon(0 0, 100% 0, 50% 100%);
  content: '';
}

.read-more-2 label:hover::after {
  background-color: #005493;
}

.read-more-2 input {
  display: none;
}

@media screen and (min-width: 850px) {

  .read-more-2 label::after {
    display: inline-block;
    width: 22px;
    height: 18px;
    clip-path: polygon(0 0, 100% 0, 50% 100%);
    content: '';
  }

  .student-voice .voice-txt,
  .parent-voice .voice-txt {
    font-size: 30px;
  }

  .read-more-2 .voice-txt::after {
    height: 280px;
  }

  .read-more-2 .voice-txt {
    position: relative;
    max-height: 600px;
    /* 開く前に見せたい高さを指定 */
    margin-bottom: 20px;
  }

  .read-more-2 label {
    margin-bottom: 70px;
    font-size: 30px !important;
    padding: .4em 3em;
  }
}


.float {
  width: 100%;
  max-width: 850px;
  position: fixed;
  z-index: 9999;
  bottom: 0;
  background-color: rgba(82, 83, 84, 0.6);
  text-align: center;
  display: none;
}

.float-btn {
  position: relative;
  width: 100%;
  font-weight: 800;
  font-size: 20px;
}

.float-btn .btn1 {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 0%;
  /* background-color: #08c727; */
  padding: 1em 1em;
  color: #fff;
}

.float-btn .btn2 {
  position: absolute;
  width: 50%;
  height: 100%;
  bottom: 0;
  left: 50%;
  /* background-color: #fd6229; */
}